{% extends 'layout.html' %} {% block tittle_tag %} Home {%endblock%} {% block
    content %}
    
    <section class="home-page">
      <div class="box-left">
        <p>Che, ¿y por qué no reciclamos?</p>
        <div class="button-home">
          <label for="search"
            ><figure><img src="../static/media/lupa.svg" /></figure
          ></label>
          <input id="search" type="text" placeholder="Ej: papel, vidrio" />
        </div>
      </div>
    
      <div class="box-right">
        <figure><img src="../static/media/home.gif" /></figure>
      </div>
    </section>
    
    <section class="containers">
      <div>
        <h1>¿Dónde lo ponemos?</h1>
        <div class="line"></div>
        <div class="box-left">
          <div class="card">
            <figure><img src="../static/media/card-verde.svg" /></figure>
          </div>
        </div>
    
        <div class="box-center">
          <div class="card">
            <figure><img src="../static/media/card-naranja.svg" /></figure>
          </div>
        </div>
    
        <div class="box-right">
          <div class="card">
            <figure><img src="../static/media/card-marron.svg" /></figure>
          </div>
        </div>
      </div>
    </section>
    
    {% endblock %}
    