@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i|Roboto:400,400i,700,700i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');
/* font-family: 'Source Sans Pro', ;
font-family: 'Roboto', ;
font-family: 'Open Sans', ; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}


/* Menu layout.html */
header{
    background: #2d69b2;
    width: 100%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5) ;
}

nav.contenedor{
    height: 70px;
    width: 1160px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    color: #f2f2f2;
    text-decoration: none;
    font-weight: 300;
    margin-right: 10px;
}

.hmbgr-menu{
    color: #f2f2f2;
    display: none;
}


/* Flash Messages */

section ul li.error{
    color: #c0392b;
}

section ul li.acierto{
    color: #27ae60;
}

/* Forms */

.form a{
    text-decoration: none;
    color: #000;
}

section.form{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form input{
    min-width:300px;
    display: block;
    margin: 20px;
    padding: 15px 5px;
    font-size: 18px;
    font-weight: 400;
    border-width: 0 0 2px 0;
    border-color: #b9b9b9 ;
    outline: none;
    transition: border-color 0.25s;
}

.form input:focus{
    border-color: #555;
}

.form p a{
    font-weight: bold;
}

.form p a:hover{
    text-decoration: underline;
}



/* Map */

.contenedor-map{
    height: 100vh;
    width: 100%;
}

.map{
    height: 100%;
    width: 100% ;
}

/*Home*/

.main-content{
    width: 1160px;
    margin: 0 auto;
}

.clearfix{
    clear: both;
    display: block;
    content: "";
}

/* Home page */

.home-page .box-left{ 
    width: 300px;
    float: left; 
    padding-top: 230px; 
}

.home-page .box-left p{ 
    font-size: 42px; 
}

.home-page .box-left .button-home{ 
    width: 300px;
}

.home-page .box-left .button-home figure img{ 
    width: 50px;
    height: auto; 
    float: left;
}

.home-page .box-left .button-home input{
    float: left;
}


