@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i|Roboto:400,400i,700,700i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');
/* font-family: 'Source Sans Pro', ;
font-family: 'Roboto', ;
font-family: 'Open Sans', ; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}


/* Menu layout.html */
header{
    background: #2d69b2;
    width: 100%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5) ;
}

nav.contenedor{
    height: 70px;
    width: 1160px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    color: #f2f2f2;
    text-decoration: none;
    font-weight: 300;
    margin-right: 10px;
}

nav a:hover{
    text-decoration: underline;
    transition: all 1.5s;
}



/* Footer */

footer{
    width: 100%;
    padding: 10px;
    background-color: #2d69b2;
}

footer .contenedor-foo{
    height: 200px;
    width: 1160px;
    margin: 0 auto;
    overflow: hidden;
    color: #fff;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
}

footer div.social-media, footer div.secciones {
    width: 20%;
}

footer div h1{
    font-family: 'Source Sans Pro' ;
    font-size: 15px;
    text-transform: uppercase;
}

footer div.secciones{
    text-align: start;
    display: flex;
    flex-direction: column;
}

footer div.secciones a{
    text-decoration: none;
    color: #fff;
    margin-top: 5px;
}


footer div.social-media{
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
}

footer div.social-media h1{
    display: block;
    margin-bottom: 15px;
}

footer div.social-media a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 5px;
}


footer div.social-media img{
    width: 100%;
    height: 100%;
}

/* Flash Messages */

section ul li.error{
    color: #c0392b;
}

section ul li.acierto{
    color: #27ae60;
}

/* Forms */

.form a{
    text-decoration: none;
    color: #000;
}

section.form{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form input{
    min-width:300px;
    display: block;
    margin: 20px;
    padding: 15px 5px;
    font-size: 18px;
    font-weight: 400;
    border-width: 0 0 2px 0;
    border-color: #b9b9b9 ;
    outline: none;
    transition: border-color 0.25s;
}

.form input:focus{
    border-color: #555;
}

.form p a{
    font-weight: bold;
}

.form p a:hover{
    text-decoration: underline;
}



/* Map */

.contenedor-map{
    height: 100vh;
    width: 100%;
}

.map{
    height: 100%;
    width: 100% ;
}

/*Home*/

.main-content{
    width: 1160px;
    margin: 0 auto;
}


/* Home page */

.home-page:after{
    clear: both;
    content: "";
    display: block;
}

.home-page .box-left{ 
    width: 420px;
    float: left; 
    padding-top: 230px; 
}

.home-page .box-left p{ 
    font-size: 59px; 
    font-family: 'Source Sans Pro',
}

.home-page .box-left .button-home{ 
    width: 220px;
    height: 60px;
    background: #2d69b2;
    border-radius: 10px;
    box-shadow: 2px 4px 19px -7px black;
    margin-top: 20px;
}

.home-page .box-left .button-home figure img{ 
    width: 30px;
    height: auto;
    float: left;
    margin-left: 24px;
    margin-top: 13px;
}

.home-page .box-left .button-home input{
    float: left;
    width: 140px;
    border: none;
    background: #2d69b2;
    padding-top: 19px;
    font-size: 18px;
    padding-left: 15px;
    color: #a2a2a2;
    outline: none;
    transition: width 0.4s ease-in-out;
}

.home-page .box-left .button-home input::placeholder{
    color: #a2a2a2;
}

.home-page .box-left .button-home input[type=text]:focus {
    width: 170px;
}

.home-page .box-right{
    float: right;
    width: 610px;
}

.home-page .box-right figure{
    width: 100%;
}

/* Container Section */

.containers{
    display: flex;
    padding-bottom: 40px;
}

.containers>div{
    display: block;
    margin-bottom: 10px;
}
.containers:after{
    clear: both;
    contain: "";
}


.containers div.line{
    height: 9px;
    width: 100px;
    margin:5px 0 40px 10px;
    background-image: linear-gradient(to right, #2d69b2 0%, #ffffff 100%);
    border-radius: 10px;
}
.containers .box-left{
    float: left;
    width: 32%;
    background-color: #7fc65d;
    margin-right: 10px;
    border-radius: 10px;
}


.containers .box-left .card figure img{
    width: 380px;
}

.containers .box-center .card figure img{
    width: 380px;
}

.containers .box-right .card figure img{
    width: 380px;
}

.containers .box-center{
    float: left;
    width: 32%;
    background-color: #e58923;
    margin-left: 13px;
    border-radius: 10px;
}

.containers .box-right{
    float: right;
    width: 32%;
    background-color: #7f5732;
    border-radius: 10px;
}

.containers .card{
    cursor: pointer;
    border-radius: 10px;
}

.containers .card:hover{
    background-color: rgba(0, 0, 0, 0.3);
    transition: ease-in 1.5s;

}